<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>eid</th>
      <th>fname</th>
      <th>phone</th>
      <th>item</th>
      <th>size</th>
      <th>quant</th>
      <th>desc</th>
      <th>quantity</th>
      <th>sprice</th>
      <th>dprice</th>
      <th>ddate</th>
      <th>customer</th>
      <th>cphone</th>
      <th>town</th>
      <th>loc</th>
      <th>date</th>
      <th>s_id</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>