<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>eid</th>
      <th>fname</th>
      <th>phone</th>
      <th>item</th>
      <th>size</th>
      <th>quant</th>
      <th>desc</th>
      <th>quantity</th>
      <th>sprice</th>
      <th>dprice</th>
      <th>ddate</th>
      <th>customer</th>
      <th>cphone</th>
      <th>town</th>
      <th>loc</th>
      <th>date</th>
      <th>s_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>123</td>
      <td></td>
      <td>25498009867</td>
      <td>table</td>
      <td>20x30</td>
      <td>3</td>
      <td>silver</td>
      <td>None</td>
      <td>2000</td>
      <td>300</td>
      <td>2022-02-24</td>
      <td>Alex</td>
      <td>25467890065</td>
      <td>Thika</td>
      <td>https://goo.gl/maps/KAgjucd5pGiinxTZA</td>
      <td>2022-02-23 10:08:11.128733</td>
      <td>123</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>123</td>
      <td></td>
      <td>254712110974</td>
      <td>example</td>
      <td>30x30</td>
      <td>4</td>
      <td>orange</td>
      <td>None</td>
      <td>1000</td>
      <td>200</td>
      <td>2022-02-28</td>
      <td>Isaac</td>
      <td>25490876453</td>
      <td>Juja</td>
      <td>Kalimoni</td>
      <td>2022-02-27 08:44:32.066263</td>
      <td>123</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>123</td>
      <td></td>
      <td>2546789034</td>
      <td>example</td>
      <td>30x30</td>
      <td>2</td>
      <td>colour red</td>
      <td>None</td>
      <td>2000</td>
      <td>150</td>
      <td>2022-02-28</td>
      <td>Tony</td>
      <td>254789563412</td>
      <td>Bluespringd</td>
      <td>Thika</td>
      <td>2022-02-27 08:56:26.189118</td>
      <td>123</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>123</td>
      <td></td>
      <td>5390785634</td>
      <td>table</td>
      <td>20x20</td>
      <td>1</td>
      <td>blue</td>
      <td>None</td>
      <td>3000</td>
      <td>300</td>
      <td>2022-03-02</td>
      <td>Tony</td>
      <td>2548976543</td>
      <td>Thika</td>
      <td>thika</td>
      <td>2022-03-01 18:37:29.408108</td>
      <td>123</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>6</td>
      <td>tony</td>
      <td>0712110972</td>
      <td>oven</td>
      <td>20x20</td>
      <td>2</td>
      <td>red</td>
      <td>None</td>
      <td>500</td>
      <td>100</td>
      <td>2022-03-31</td>
      <td>mike</td>
      <td>07134567234</td>
      <td>Thika</td>
      <td>juja</td>
      <td>2022-03-20 08:09:33.037148</td>
      <td>6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>6</td>
      <td>tony</td>
      <td>0711234900876</td>
      <td>oven</td>
      <td>10x10</td>
      <td>30</td>
      <td>wide range</td>
      <td>None</td>
      <td>3400</td>
      <td>200</td>
      <td>2022-03-20</td>
      <td>esther</td>
      <td>0789675412</td>
      <td>Nairobi</td>
      <td>Kimathi</td>
      <td>2022-03-20 08:48:40.289571</td>
      <td>6</td>
    </tr>
  </tbody>
</table>