streamlit
pysqlite3
Pillow
pandas
streamlit-authenticator
Flask
Flask-SQLAlchemy
Flask-Login
DateTime
Flask-WTF
WTForms
gunicorn
lxml
seaborn
plotly
Flask-RESTful
opencv-python
bokeh
streamlit_bokeh_events
